/* Default styling suited for small mobile phones, e.g. iPhone 5 */
* {
    box-sizing: border-box;
}
body {
    background-color: #f1faee;
    color: #1d3557;
    font-family: 'Lato', Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
}
img {
    max-width: 500px;
    min-width: 80px;
    object-fit: contain;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px;
}
header {
    background-color: #1D3557;
    color: #F1FAEE;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    margin: 20px;
    width: auto;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: column;
}
p {
    align-items: flex-start;
    max-width: 800px;
    text-align: left;
}
a {
    color: #457B9D;
    text-decoration: none;
}
li {
    max-width: 800px;
}
#lydia {
    justify-content: flex-start;
}
/* anchors & buttons */
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: 1px dashed #e63946;
}
button {
    background-color: #a8dadc;
    border-radius: 4px;
    border: none;
    color: #1d3557;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    max-height: 40px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
}
button a {
    color: #1d3557;
}
button a:hover{
    text-decoration: none;
    color: #F1FAEE;
}
button:hover {
    background-color: #e63946;
    color: #F1FAEE;
    text-decoration: none;
}
/* naviation bar at top of screen */
.topnav {
    background-color: #a8dadc;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0px;
    width: 100%;
}
.topnav a {
    float: left;
    background-color: #A8DADC;
    color: #1d3557;
    font-size: 12px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}
.topnav a:hover {
    background-color: #e63946;
    color: #f1faee;
}
.topnav a.active {
    background-color: #1d3557;
    color: #f1faee;
}
/* grid layout for work & study page */
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
/* blog formatting */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.card {
    border-color: #e63946;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    padding: 20px;
    max-width: 850px;
}
.card img {
    width: 100%;
}
.leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* large phones */
@media screen and (min-width: 576px) {
    .topnav a {
        font-size: 18px;
        padding: 14px 16px;
    }
}
/* tablets */
@media screen and (min-width: 760px) {
.topnav a {
    font-size: 18px;
    padding: 14px 16px;
}
.leftcolumn {
    float: left;
    width: 70%;
}
.rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
}
#lydia {
    display: flex;
    flex-direction: row;
}
/* tablet grid. While I did not utilise all of these sizing options, it will give me a great deal of flexibility as I continue to edit the website */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
/* desktops */
@media screen and (min-width: 992px) {
.topnav a {
    font-size: 24px;
    padding: 20px 22px;
}
/* desktop grid */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}